@font-face {
    font-family: title;
    src: url(fonts/GeosansLight.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

html, body {
    padding: 0px;
    margin: 0px;
}

h1, h2, h3 {
    font-family: roboto-thin;
}

p {
    font-family: roboto-light;
    font-size: 1em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#gradient {
    position: absolute;
    text-align: center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1;
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4), rgb(255,255,255));
}

#map {
    background-image: url("images/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    left: 0;
    right: 0;
    font-family: title;
    font-size: 10em;
    color: black;
    text-align: center;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax_layer {
    width:auto;
    height:auto;
    min-width: 100%;
    min-height: 100%;
}

.parallax_front {
    transform: translateZ(0);
}

.parallax_back {
    width: 100%;
    height: 100%;
    transform: translateZ(-1px) scale(2);
}

.section {
    width: 100%;
    height: 100vh;
    padding-top: 10px;
}

.red {
    background-color: #ec7d7f;
}

.white {
    background-color: white;
}

.center {
    width: 100%;
    text-align: center;
}

.mockup {
    height: auto;
    width: 300px;
    max-width: 40vh;
    margin: 20px;
}
